/cw-project-baseline-spring-boot/db
/cw-project-baseline-spring-boot/*.iml
/cw-project-baseline-spring-boot/*.ipr
/cw-project-baseline-spring-boot/*.iws
/cw-project-baseline-spring-boot/target
/cw-project-baseline-spring-boot/target/**
**/.mvn/**
/cw-project-baseline-activiti/*.cmd
/cw-project-baseline-activiti/*.iml
/cw-project-baseline-activiti/mvnw
**/.idea/**
**/target/**
**/node_modules
**/node_modules/**